.people {
    display: flex;
    justify-content: center;
}

.people-text {
    margin-top: 83px;
    margin-right: 102px;
    margin-left: -77px;
}

.people-text__maintext {
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    width: 354px;
    height: 146px;
}

.people-text__img {
    position: absolute;
    left: 195px;
    top: 61px;
}

.people-text__subtext {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #4A5568;
    margin-top: -21px;
}

.people__img {
    margin-top: 62px;
}

.card-latest {
    display: flex;
    justify-content: center;
    margin-top: 114px;
    margin-right: 110px;

}

.card-latest-text {
    width: 533px;
    background: #FFFFFF;
    border: 1px solid #E2E2E2;
    box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
    border-radius: 5px 0px 0px 5px;
}

.card-latest-text__header {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #2D3748;
    margin-top: 41px;
    margin-left: 54px;
}

.card-latest-text__desc {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    width: 403px;
    margin-left: 52px;
    margin-top: 1px;
    color: #718096;
}

.card-latest-text-danks {
    display: flex;
    justify-content: space-between;
}

.card-latest-text__date {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    margin-left: 53px;
    margin-top: 16px;
    color: #718096;
}

.card-latest-text__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #2D3748;
    text-decoration: none;
    margin-right: 79px;
    margin-top: 16px;
}

.card-latest__img {
    border: 1px solid #E2E2E2;
    box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
}

.card-triple {
    display: flex;
    justify-content: center;
    margin-top: 39px;
    margin-right: 72px;
}

.card-triple div {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 382px;
    margin-right: 33px;
    box-shadow: 0px 4px 4px rgba(192, 189, 189, 0.25);
    border-radius: 5px
}

.card-triple img {
    width: 100%;
}

.card-triple h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #2D3748;
    margin-left: 14px;
}

.card-triple p {
    width: 258px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #718096;
    margin-left: 15px;
    margin-top: -6px;
}

.card-triple a {
    position: absolute;
    right: 27px;
    bottom: 23px;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #2D3748;
}

.card-triple span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #718096;
    margin-top: 8px;
    margin-left: 13px;
}

.notebook {
    display: flex;
    justify-content: center;
    margin-top: 44px;
    margin-bottom: 34px;
}

.notebook-text {
    width: 440px;
    position: relative;
}

.notebook-text__header {
    width: 308px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    margin-top: 99px;
    margin-left: 8px;
}

.notebook-text__desc {
    width: 311px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #718096;
    margin-top: -17px;
    margin-left: 8px;
    margin-bottom: 31px;
}

.notebook-text__date {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #4A5568;
    padding-left: 8px;
}

.notebook-text__link {  
    position: absolute;
    right: 121px;
    bottom: 118px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-decoration: none;
}

.notebook__img {
    width: 525px;
    height: 500px;
    margin-right: 55px;
    margin-left: -53px;
}

.notebook-button {
    display: flex;
    justify-content: center;
    width: 100%;
}

.notebook-button__btn {
    position: relative;
    width: 122px;
    height: 37px;
    color: white;
    background: #6B46C1;
    border-radius: 5px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    padding-right: 32px;
    padding-bottom: 2px;
    margin-left: 734px;
    margin-top: -3px;
}

.notebook-button__btn:hover {
    cursor: pointer;
}

.notebook-button__icon {
    position: absolute;
    width: 17px;
    height: 17px;
    right: 13px;
    top: 11px;
}